# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Production build
dist/
build/

# System Files
.DS_Store
Thumbs.db

# Uploaded files
public/uploads/*
!public/uploads/.gitkeep
